<a href="https://colab.research.google.com/github/rlewa/projetofutebol/blob/main/notebooks/data/C%C3%B3pia_de_BaseDeDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install git+'https://github.com/rlewa/projetofutebol'
from packages.packages import *
from packages.functions import *
clear_output()

In [ ]:
# to refresh after changing a function, uninstall and intall it again through: 
#!pip uninstall projetofutebol -y

# **Historical Data**

 |FEATURE|MEANING| 
|:------ | -----:|
|**Date** | Data (YYYY-MM-DD)|
|**HomeTeam** | Nome do time da casa|
**AwayTeam** | Nome do time de fora
**FTHG** | Número de gols do time da casa na partida
**FTAG** | Número de gols do time de fora na partida 
**FTR** | Resultado da partida (H, A or D) - **Target Variable**
**HS** | Qtd. de chutes do time da casa
**AS** | Qtd. de chutes do time de fora
**HST** | Qtd. de chutes do time da casa ao gol
**AST** | Qtd. de chutes do time de fora ao gol
**HC** | Qtd. Escanteios do time da casa
**AC** | Qtd. Escanteios do time de fora
**HF** | Qtd. de faltas que o time da casa fez
**AF** | Qtd. de faltas que o time de fora fez
**HY** | Qtd. de cartões amarelos que o time da casa recebeu
**AY** | Qtd. de cartões amarelos que o time de fora recebeu
**HR** | Qtd. de cartões vermelhos que o time da casa recebeu
**AR** | Qtd. de cartões vermelhos que o time de fora recebeu
**HTGS** | Acumulado de gols feitos do time da casa 
**ATGS** | Acumulado de gols feitos do time de fora
**HTGC** | Acumulado de gols recebidos do time da casa
**ATGC** | Acumulado de gols recebidos do time de fora
**HTP** | Qtd. de pontos totais do time da casa
**ATP** | Qtd. de pontos totais do time de fora
**HM1** | Resultado do primeiro jogo mais recente para o time da casa
**AM1** | Resultado do primeiro jogo mais recente para o time de fora
**HM2** | Resultado do segundo jogo mais recente para o time da casa
**AM2** | Resultado do segundo jogo mais recente para o time de fora
**HM3** | Resultado do terceiro jogo mais recente para o time da casa
**AM3** | Resultado do terceiro jogo mais recente para o time de fora
**HM4** | Resultado do quarto jogo mais recente para o time da casa
**AM4** | Resultado do quarto jogo mais recente para o time de fora
**HM5** | Resultado do quinto jogo mais recente para o time da casa
**AM5** | Resultado do quinto jogo mais recente para o time de fora
**HomeTeamLP** | Posição na tabela do time da casa no ano correspondente 
**AwayTeamLP** | Posição na tabela do time de fora no ano correspondente
**MW** | Semana da partida 
**TFormPtsStr** | Sequência de vitórias, empates ou derrotas para o time da casa 
**ATFormPtsStr** | Sequência de vitórias, empates ou derrotas para o time de fora
**HTFormPts** | Pontos acumulados de acordo com o resultado do jogo do time da casa (ganhou = 3, empatou = 1, perdeu = 0) 
**ATFormPts** | Pontos acumulados de acordo com o resultado do jogo do time de fora (ganhou = 3, empatou = 1, perdeu = 0)
**HTGD** | Diferença do acumulado de gols feitos e recebidos do time da casa 
**ATGD** | Diferença do acumulado de gols feitos e recebidos do time de fora
**DiffPts** | Diferença do acumulado de pontos do time da cada e do time de fora
**DiffFormPts** | Diferença do total de pontos acumulados da casa e do time de fora
**DiffLP** | Diferença da posição do time da casa e do time de fora

## Raw Historical Data

In [ ]:
path = "/content/drive/MyDrive/GitHub/Dados/Historicos/raw_historical_features/"

columns_req = ['Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']


# Each one of this refers to Season i-1/i. Example.:
# playing_statistics_21 is Season 20/21

playing_statistics_1 = pd.read_csv(path + 'E0.csv', usecols = columns_req, nrows = 381)
playing_statistics_2 = pd.read_csv(path + 'E0 (1).csv', usecols = columns_req, nrows = 381)
playing_statistics_3 = pd.read_csv(path + 'E0 (2).csv', usecols = columns_req, nrows = 381)
playing_statistics_4 = pd.read_csv(path + 'E0 (3).csv', usecols = columns_req, nrows = 381)
playing_statistics_5 = pd.read_csv(path + 'E0 (4).csv', usecols = columns_req, nrows = 381)
playing_statistics_6 = pd.read_csv(path + 'E0 (5).csv', usecols = columns_req, nrows = 381)
playing_statistics_7 = pd.read_csv(path + 'E0 (6).csv', usecols = columns_req, nrows = 381)
playing_statistics_8 = pd.read_csv(path + 'E0 (7).csv', usecols = columns_req, nrows = 381)

playing_statistics_9 = pd.read_csv(path + 'E0 (8).csv', usecols = columns_req, nrows = 381)
playing_statistics_10 = pd.read_csv(path + 'E0 (9).csv', usecols = columns_req, nrows = 381)
playing_statistics_11 = pd.read_csv(path + 'E0 (10).csv', usecols = columns_req, nrows = 381)
playing_statistics_12 = pd.read_csv(path + 'E0 (11).csv', usecols = columns_req, nrows = 381)
playing_statistics_13 = pd.read_csv(path + 'E0 (12).csv', usecols = columns_req, nrows = 381)
playing_statistics_14 = pd.read_csv(path + 'E0 (13).csv', usecols = columns_req, nrows = 381)
playing_statistics_15 = pd.read_csv(path + 'E0 (14).csv', usecols = columns_req, nrows = 381)
playing_statistics_16 = pd.read_csv(path + 'E0 (15).csv', usecols = columns_req, nrows = 381)
playing_statistics_17 = pd.read_csv(path + 'E0 (16).csv', usecols = columns_req, nrows = 381)
playing_statistics_18 = pd.read_csv(path + 'E0 (17).csv', usecols = columns_req, nrows = 381)
playing_statistics_19 = pd.read_csv(path + 'E0 (18).csv', usecols = columns_req, nrows = 381)
playing_statistics_20 = pd.read_csv(path + 'E0 (19).csv', usecols = columns_req, nrows = 381)
playing_statistics_21 = pd.read_csv(path + 'E0 (20).csv', usecols = columns_req, nrows = 381)

In [ ]:
playing_statistics_21

           Date          HomeTeam        AwayTeam  FTHG  ...  HY AY  HR  AR
0    12/09/2020            Fulham         Arsenal     0  ...   2  2   0   0
1    12/09/2020    Crystal Palace     Southampton     1  ...   2  1   0   0
2    12/09/2020         Liverpool           Leeds     4  ...   1  0   0   0
3    12/09/2020          West Ham       Newcastle     0  ...   2  2   0   0
4    13/09/2020         West Brom       Leicester     0  ...   1  1   0   0
..          ...               ...             ...   ...  ...  .. ..  ..  ..
375  23/05/2021         Liverpool  Crystal Palace     2  ...   2  2   0   0
376  23/05/2021          Man City         Everton     5  ...   2  2   0   0
377  23/05/2021  Sheffield United         Burnley     1  ...   3  1   0   0
378  23/05/2021          West Ham     Southampton     3  ...   0  3   0   0
379  23/05/2021            Wolves      Man United     1  ...   4  1   0   0

[380 rows x 18 columns]

In [ ]:
# Gets the goals scored agg arranged by teams and matchweek
def get_goals_scored(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # the value corresponding to keys is a list containing the match pathation.
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)

    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsScored[0] = 0

    # Aggregate to get until that point
    for i in range(2, 39):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
    return GoalsScored


# Gets the goals conceded agg arranged by teams and matchweek
def get_goals_conceded(playing_stat):
    # Create a dictionary with team names as keys

    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # the value corresponding to keys is a list containing the match pathation.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']

        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)

    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
    return GoalsConceded

def get_gss(playing_stat):
    GC = get_goals_conceded(playing_stat)
    GS = get_goals_scored(playing_stat)

    j = 0
    HTGS = []
    ATGS = []
    HTGC = []
    ATGC = []

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTGS.append(GS.loc[ht][j])
        ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])

        if ((i + 1)% 10) == 0:
            j = j + 1

    playing_stat['HTGS'] = HTGS
    playing_stat['ATGS'] = ATGS
    playing_stat['HTGC'] = HTGC
    playing_stat['ATGC'] = ATGC

    return playing_stat

In [ ]:
# Apply to each dataset
playing_statistics_1 = get_gss(playing_statistics_1)
playing_statistics_2 = get_gss(playing_statistics_2)
playing_statistics_3 = get_gss(playing_statistics_3)
playing_statistics_4 = get_gss(playing_statistics_4)
playing_statistics_5 = get_gss(playing_statistics_5)
playing_statistics_6 = get_gss(playing_statistics_6)
playing_statistics_7 = get_gss(playing_statistics_7)
playing_statistics_8 = get_gss(playing_statistics_8)
playing_statistics_9 = get_gss(playing_statistics_9)
playing_statistics_10 = get_gss(playing_statistics_10)
playing_statistics_11 = get_gss(playing_statistics_11)
playing_statistics_12 = get_gss(playing_statistics_12)
playing_statistics_13 = get_gss(playing_statistics_13)
playing_statistics_14 = get_gss(playing_statistics_14)
playing_statistics_15 = get_gss(playing_statistics_15)
playing_statistics_16 = get_gss(playing_statistics_16)
playing_statistics_17 = get_gss(playing_statistics_17)
playing_statistics_18 = get_gss(playing_statistics_18)
playing_statistics_19 = get_gss(playing_statistics_19)
playing_statistics_20 = get_gss(playing_statistics_20)
playing_statistics_21 = get_gss(playing_statistics_21)

In [ ]:
# examples - when season 19/20 started
playing_statistics_20.head(5)

         Date        HomeTeam          AwayTeam  FTHG  ...  HTGS ATGS  HTGC  ATGC
0  09/08/2019       Liverpool           Norwich     4  ...     0    0     0     0
1  10/08/2019        West Ham          Man City     0  ...     0    0     0     0
2  10/08/2019     Bournemouth  Sheffield United     1  ...     0    0     0     0
3  10/08/2019         Burnley       Southampton     3  ...     0    0     0     0
4  10/08/2019  Crystal Palace           Everton     0  ...     0    0     0     0

[5 rows x 22 columns]

In [ ]:
# when it ended
playing_statistics_20.tail(5)

           Date     HomeTeam          AwayTeam  FTHG  ...  HTGS ATGS  HTGC  ATGC
375  26/07/2020    Leicester        Man United     0  ...    67   64    39    36
376  26/07/2020     Man City           Norwich     5  ...    97   26    35    70
377  26/07/2020    Newcastle         Liverpool     1  ...    37   82    55    32
378  26/07/2020  Southampton  Sheffield United     3  ...    48   38    59    36
379  26/07/2020     West Ham       Aston Villa     1  ...    48   40    61    66

[5 rows x 22 columns]

In [ ]:
def get_points(result):
    if result == 'W':
        return 3
    elif result == 'D':
        return 1
    else:
        return 0


def get_cuml_points(matchres):
    matchres_points = matchres.applymap(get_points)
    for i in range(2,39):
        matchres_points[i] = matchres_points[i] + matchres_points[i-1]

    matchres_points.insert(column =0, loc = 0, value = [0*i for i in range(20)])
    return matchres_points


def get_matchres(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # the value corresponding to keys is a list containing the match result
    for i in range(len(playing_stat)):
        if playing_stat.iloc[i].FTR == 'H':
            teams[playing_stat.iloc[i].HomeTeam].append('W')
            teams[playing_stat.iloc[i].AwayTeam].append('L')
        elif playing_stat.iloc[i].FTR == 'A':
            teams[playing_stat.iloc[i].AwayTeam].append('W')
            teams[playing_stat.iloc[i].HomeTeam].append('L')
        else:
            teams[playing_stat.iloc[i].AwayTeam].append('D')
            teams[playing_stat.iloc[i].HomeTeam].append('D')

    return pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T

def get_agg_points(playing_stat):

    matchres = get_matchres(playing_stat)
    cum_pts = get_cuml_points(matchres)
    HTP = []
    ATP = []
    j = 0
    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTP.append(cum_pts.loc[ht][j])
        ATP.append(cum_pts.loc[at][j])

        if ((i + 1)% 10) == 0:
            j = j + 1

    playing_stat['HTP'] = HTP
    playing_stat['ATP'] = ATP
    return playing_stat

# Apply to each dataset
playing_statistics_1 = get_agg_points(playing_statistics_1)
playing_statistics_2 = get_agg_points(playing_statistics_2)
playing_statistics_3 = get_agg_points(playing_statistics_3)
playing_statistics_4 = get_agg_points(playing_statistics_4)
playing_statistics_5 = get_agg_points(playing_statistics_5)
playing_statistics_6 = get_agg_points(playing_statistics_6)
playing_statistics_7 = get_agg_points(playing_statistics_7)
playing_statistics_8 = get_agg_points(playing_statistics_8)
playing_statistics_9 = get_agg_points(playing_statistics_9)
playing_statistics_10 = get_agg_points(playing_statistics_10)
playing_statistics_11 = get_agg_points(playing_statistics_11)
playing_statistics_12 = get_agg_points(playing_statistics_12)
playing_statistics_13 = get_agg_points(playing_statistics_13)
playing_statistics_14 = get_agg_points(playing_statistics_14)
playing_statistics_15 = get_agg_points(playing_statistics_15)
playing_statistics_16 = get_agg_points(playing_statistics_16)

playing_statistics_17 = get_agg_points(playing_statistics_17)
playing_statistics_18 = get_agg_points(playing_statistics_18)
playing_statistics_19 = get_agg_points(playing_statistics_19)
playing_statistics_20 = get_agg_points(playing_statistics_20)
playing_statistics_21 = get_agg_points(playing_statistics_21)

In [ ]:
playing_statistics_21.head(5)

         Date        HomeTeam     AwayTeam  FTHG  ...  HTGC ATGC  HTP  ATP
0  12/09/2020          Fulham      Arsenal     0  ...     0    0    0    0
1  12/09/2020  Crystal Palace  Southampton     1  ...     0    0    0    0
2  12/09/2020       Liverpool        Leeds     4  ...     0    0    0    0
3  12/09/2020        West Ham    Newcastle     0  ...     0    0    0    0
4  13/09/2020       West Brom    Leicester     0  ...     0    0    0    0

[5 rows x 24 columns]

In [ ]:
playing_statistics_21.tail(5)

           Date          HomeTeam        AwayTeam  FTHG  ...  HTGC ATGC  HTP  ATP
375  23/05/2021         Liverpool  Crystal Palace     2  ...    42   64   66   44
376  23/05/2021          Man City         Everton     5  ...    32   43   83   59
377  23/05/2021  Sheffield United         Burnley     1  ...    63   54   20   39
378  23/05/2021          West Ham     Southampton     3  ...    47   65   62   43
379  23/05/2021            Wolves      Man United     1  ...    50   43   45   71

[5 rows x 24 columns]

In [ ]:
def get_form(playing_stat,num):
    form = get_matchres(playing_stat)
    form_final = form.copy()
    for i in range(num,39):
        form_final[i] = ''
        j = 0
        while j < num:
            form_final[i] += form[i-j]
            j += 1
    return form_final

def add_form(playing_stat,num):
    form = get_form(playing_stat,num)
    h = ['M' for i in range(num * 10)]  # since form is not available for n MW (n*10)
    a = ['M' for i in range(num * 10)]

    j = num
    for i in range((num*10),380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam

        past = form.loc[ht][j]               # get past n results
        h.append(past[num-1])                    # 0 index is most recent

        past = form.loc[at][j]               # get past n results.
        a.append(past[num-1])                   # 0 index is most recent

        if ((i + 1)% 10) == 0:
            j = j + 1

    playing_stat['HM' + str(num)] = h
    playing_stat['AM' + str(num)] = a


    return playing_stat

def add_form_df(playing_statistics):
    playing_statistics = add_form(playing_statistics,1)
    playing_statistics = add_form(playing_statistics,2)
    playing_statistics = add_form(playing_statistics,3)
    playing_statistics = add_form(playing_statistics,4)
    playing_statistics = add_form(playing_statistics,5)
    return playing_statistics

# Make changes to df
playing_statistics_1 = add_form_df(playing_statistics_1)
playing_statistics_2 = add_form_df(playing_statistics_2)
playing_statistics_3 = add_form_df(playing_statistics_3)
playing_statistics_4 = add_form_df(playing_statistics_4)
playing_statistics_5 = add_form_df(playing_statistics_5)
playing_statistics_6 = add_form_df(playing_statistics_6)
playing_statistics_7 = add_form_df(playing_statistics_7)
playing_statistics_8 = add_form_df(playing_statistics_8)
playing_statistics_9 = add_form_df(playing_statistics_9)
playing_statistics_10 = add_form_df(playing_statistics_10)
playing_statistics_11 = add_form_df(playing_statistics_11)
playing_statistics_12 = add_form_df(playing_statistics_12)
playing_statistics_13 = add_form_df(playing_statistics_13)
playing_statistics_14 = add_form_df(playing_statistics_14)
playing_statistics_15 = add_form_df(playing_statistics_15)
playing_statistics_16 = add_form_df(playing_statistics_16)
playing_statistics_17 = add_form_df(playing_statistics_17)
playing_statistics_18 = add_form_df(playing_statistics_18)
playing_statistics_19 = add_form_df(playing_statistics_19)
playing_statistics_20 = add_form_df(playing_statistics_20)
playing_statistics_21 = add_form_df(playing_statistics_21)

In [ ]:
playing_statistics_21.head(5)

         Date        HomeTeam     AwayTeam  FTHG  FTAG  ... AM3  HM4  AM4  HM5  AM5
0  12/09/2020          Fulham      Arsenal     0     3  ...   M    M    M    M    M
1  12/09/2020  Crystal Palace  Southampton     1     0  ...   M    M    M    M    M
2  12/09/2020       Liverpool        Leeds     4     3  ...   M    M    M    M    M
3  12/09/2020        West Ham    Newcastle     0     2  ...   M    M    M    M    M
4  13/09/2020       West Brom    Leicester     0     3  ...   M    M    M    M    M

[5 rows x 34 columns]

In [ ]:
playing_statistics_21.tail(5)

           Date          HomeTeam        AwayTeam  FTHG  ...  HM4 AM4  HM5  AM5
375  23/05/2021         Liverpool  Crystal Palace     2  ...    W   W    D    L
376  23/05/2021          Man City         Everton     5  ...    W   W    W    L
377  23/05/2021  Sheffield United         Burnley     1  ...    L   L    W    W
378  23/05/2021          West Ham     Southampton     3  ...    W   L    L    D
379  23/05/2021            Wolves      Man United     1  ...    D   W    L    D

[5 rows x 34 columns]

In [ ]:
Standings = pd.read_csv("/content/drive/MyDrive/GitHub/Dados/Historicos/raw_historical_features/EPLStandings1.csv")
Standings.set_index(['Team'], inplace=True)
Standings = Standings.drop(columns = ['Unnamed: 0'])

def get_last(playing_stat, Standings, year):
    HomeTeamLP = []
    AwayTeamLP = []
    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HomeTeamLP.append(Standings.loc[ht][year])
        AwayTeamLP.append(Standings.loc[at][year])
    playing_stat['HomeTeamLP'] = HomeTeamLP
    playing_stat['AwayTeamLP'] = AwayTeamLP
    return playing_stat

playing_statistics_1 = get_last(playing_statistics_1, Standings, 0)
playing_statistics_2 = get_last(playing_statistics_2, Standings, 1)
playing_statistics_3 = get_last(playing_statistics_3, Standings, 2)
playing_statistics_4 = get_last(playing_statistics_4, Standings, 3)
playing_statistics_5 = get_last(playing_statistics_5, Standings, 4)
playing_statistics_6 = get_last(playing_statistics_6, Standings, 5)
playing_statistics_7 = get_last(playing_statistics_7, Standings, 6)
playing_statistics_8 = get_last(playing_statistics_8, Standings, 7)
playing_statistics_9 = get_last(playing_statistics_9, Standings, 8)
playing_statistics_10 = get_last(playing_statistics_10, Standings, 9)
playing_statistics_11 = get_last(playing_statistics_11, Standings, 10)
playing_statistics_12 = get_last(playing_statistics_12, Standings, 11)
playing_statistics_13 = get_last(playing_statistics_13, Standings, 12)
playing_statistics_14 = get_last(playing_statistics_14, Standings, 13)
playing_statistics_15 = get_last(playing_statistics_15, Standings, 14)
playing_statistics_16 = get_last(playing_statistics_16, Standings, 15)
playing_statistics_17 = get_last(playing_statistics_17, Standings, 16)
playing_statistics_18 = get_last(playing_statistics_18, Standings, 17)
playing_statistics_19 = get_last(playing_statistics_19, Standings, 18)
playing_statistics_20 = get_last(playing_statistics_20, Standings, 19)
playing_statistics_21 = get_last(playing_statistics_21, Standings, 20)

In [ ]:
columns = np.array(Standings.columns)

for i in range(len(columns)):
  year_array = np.array(Standings[columns[i]])
  indexes = np.argwhere(year_array == float(0))
  year_array[indexes] = 18
  Standings[columns[i]] = year_array

In [ ]:
Standings.head(5)

             2000  2001  2002  2003  2004  ...  2016  2017  2018  2019  2020
Team                                       ...
Arsenal       2.0   2.0   1.0   2.0   1.0  ...   2.0   5.0   6.0   5.0   8.0
Aston Villa   6.0   8.0   8.0  16.0   6.0  ...  20.0  18.0  18.0  18.0  17.0
Birmingham   18.0  18.0  18.0  13.0  10.0  ...  18.0  18.0  18.0  18.0  18.0
Blackburn    18.0  18.0  10.0   6.0  15.0  ...  18.0  18.0  18.0  18.0  18.0
Blackpool    18.0  18.0  18.0  18.0  18.0  ...  18.0  18.0  18.0  18.0  18.0

[5 rows x 21 columns]

In [ ]:
def get_mw(playing_stat):
    j = 1
    MatchWeek = []
    for i in range(380):
        MatchWeek.append(j)
        if ((i + 1)% 10) == 0:
            j = j + 1
    playing_stat['MW'] = MatchWeek
    return playing_stat

playing_statistics_1 = get_mw(playing_statistics_1)
playing_statistics_2 = get_mw(playing_statistics_2)
playing_statistics_3 = get_mw(playing_statistics_3)
playing_statistics_4 = get_mw(playing_statistics_4)
playing_statistics_5 = get_mw(playing_statistics_5)
playing_statistics_6 = get_mw(playing_statistics_6)
playing_statistics_7 = get_mw(playing_statistics_7)
playing_statistics_8 = get_mw(playing_statistics_8)
playing_statistics_9 = get_mw(playing_statistics_9)
playing_statistics_10 = get_mw(playing_statistics_10)
playing_statistics_11 = get_mw(playing_statistics_11)
playing_statistics_12 = get_mw(playing_statistics_12)
playing_statistics_13 = get_mw(playing_statistics_13)
playing_statistics_14 = get_mw(playing_statistics_14)
playing_statistics_15 = get_mw(playing_statistics_15)
playing_statistics_16 = get_mw(playing_statistics_16)
playing_statistics_17 = get_mw(playing_statistics_17)
playing_statistics_18 = get_mw(playing_statistics_18)
playing_statistics_19 = get_mw(playing_statistics_19)
playing_statistics_20 = get_mw(playing_statistics_20)
playing_statistics_21 = get_mw(playing_statistics_21)

In [ ]:
playing_statistics_21.head(15)

          Date          HomeTeam        AwayTeam  ...  HomeTeamLP  AwayTeamLP MW
0   12/09/2020            Fulham         Arsenal  ...         0.0         8.0  1
1   12/09/2020    Crystal Palace     Southampton  ...        14.0        11.0  1
2   12/09/2020         Liverpool           Leeds  ...         1.0         0.0  1
3   12/09/2020          West Ham       Newcastle  ...        16.0        13.0  1
4   13/09/2020         West Brom       Leicester  ...         0.0         5.0  1
5   13/09/2020         Tottenham         Everton  ...         6.0        12.0  1
6   14/09/2020          Brighton         Chelsea  ...        15.0         4.0  1
7   14/09/2020  Sheffield United          Wolves  ...         9.0         7.0  1
8   19/09/2020           Everton       West Brom  ...        12.0         0.0  1
9   19/09/2020             Leeds          Fulham  ...         0.0         0.0  1
10  19/09/2020        Man United  Crystal Palace  ...         3.0        14.0  2
11  19/09/2020           Arsenal        West Ham  ...         8.0        16.0  2
12  20/09/2020       Southampton       Tottenham  ...        11.0         6.0  2
13  20/09/2020         Newcastle        Brighton  ...        13.0        15.0  2
14  20/09/2020           Chelsea       Liverpool  ...         4.0         1.0  2

[15 rows x 37 columns]

In [ ]:

playing_stat = pd.concat([playing_statistics_1,
                          playing_statistics_2,
                          playing_statistics_3,
                          playing_statistics_4,
                          playing_statistics_5,
                          playing_statistics_6,
                          playing_statistics_7,
                          playing_statistics_8,
                          playing_statistics_9,
                          playing_statistics_10,
                          playing_statistics_11,
                          playing_statistics_12,
                          playing_statistics_13,
                          playing_statistics_14,
                          playing_statistics_15,
                          playing_statistics_16,
                          playing_statistics_17,
                          playing_statistics_18,
                          playing_statistics_19,
                          playing_statistics_20,
                          playing_statistics_21], ignore_index=True)

In [ ]:
playing_stat[playing_stat.duplicated()]

Empty DataFrame
Columns: [Date, HomeTeam, AwayTeam, FTHG, FTAG, FTR, HS, AS, HST, AST, HC, AC, HF, AF, HY, AY, HR, AR, HTGS, ATGS, HTGC, ATGC, HTP, ATP, HM1, AM1, HM2, AM2, HM3, AM3, HM4, AM4, HM5, AM5, HomeTeamLP, AwayTeamLP, MW]
Index: []

In [ ]:
playing_stat.head(5)

       Date  HomeTeam       AwayTeam  FTHG  ...  AM5 HomeTeamLP  AwayTeamLP  MW
0  19/08/00  Charlton       Man City     4  ...    M        0.0         0.0   1
1  19/08/00   Chelsea       West Ham     4  ...    M        5.0         9.0   1
2  19/08/00  Coventry  Middlesbrough     1  ...    M       14.0        12.0   1
3  19/08/00     Derby    Southampton     2  ...    M       16.0        15.0   1
4  19/08/00     Leeds        Everton     2  ...    M        3.0        13.0   1

[5 rows x 37 columns]

In [ ]:
playing_stat.tail(5)

            Date          HomeTeam        AwayTeam  ...  HomeTeamLP  AwayTeamLP  MW
7975  23/05/2021         Liverpool  Crystal Palace  ...         1.0        14.0  38
7976  23/05/2021          Man City         Everton  ...         2.0        12.0  38
7977  23/05/2021  Sheffield United         Burnley  ...         9.0        10.0  38
7978  23/05/2021          West Ham     Southampton  ...        16.0        11.0  38
7979  23/05/2021            Wolves      Man United  ...         7.0         3.0  38

[5 rows x 37 columns]

In [ ]:
# Gets the form points.
def get_form_points(string):
    sum = 0
    for letter in string:
        sum += get_points(letter)
    return sum

playing_stat['HTFormPtsStr'] = playing_stat['HM1'] + playing_stat['HM2'] + playing_stat['HM3'] + playing_stat['HM4'] + playing_stat['HM5']
playing_stat['ATFormPtsStr'] = playing_stat['AM1'] + playing_stat['AM2'] + playing_stat['AM3'] + playing_stat['AM4'] + playing_stat['AM5']

playing_stat['HTFormPts'] = playing_stat['HTFormPtsStr'].apply(get_form_points)
playing_stat['ATFormPts'] = playing_stat['ATFormPtsStr'].apply(get_form_points)

In [ ]:
playing_stat.head(5)

       Date  HomeTeam       AwayTeam  ...  ATFormPtsStr  HTFormPts ATFormPts
0  19/08/00  Charlton       Man City  ...         MMMMM          0         0
1  19/08/00   Chelsea       West Ham  ...         MMMMM          0         0
2  19/08/00  Coventry  Middlesbrough  ...         MMMMM          0         0
3  19/08/00     Derby    Southampton  ...         MMMMM          0         0
4  19/08/00     Leeds        Everton  ...         MMMMM          0         0

[5 rows x 41 columns]

In [ ]:
playing_stat.tail(5)

            Date          HomeTeam  ... HTFormPts  ATFormPts
7975  23/05/2021         Liverpool  ...        13          6
7976  23/05/2021          Man City  ...         9          7
7977  23/05/2021  Sheffield United  ...         6          6
7978  23/05/2021          West Ham  ...         7          7
7979  23/05/2021            Wolves  ...         4          5

[5 rows x 41 columns]

In [ ]:
# Get Goal Difference
playing_stat['HTGD'] = playing_stat['HTGS'] - playing_stat['HTGC']
playing_stat['ATGD'] = playing_stat['ATGS'] - playing_stat['ATGC']

# Diff in points
playing_stat['DiffPts'] = playing_stat['HTP'] - playing_stat['ATP']
playing_stat['DiffFormPts'] = playing_stat['HTFormPts'] - playing_stat['ATFormPts']

# Diff in last year positions
playing_stat['DiffLP'] = playing_stat['HomeTeamLP'] - playing_stat['AwayTeamLP']

In [ ]:
playing_stat.head(5)

       Date  HomeTeam       AwayTeam  FTHG  ...  ATGD DiffPts  DiffFormPts  DiffLP
0  19/08/00  Charlton       Man City     4  ...     0       0            0     0.0
1  19/08/00   Chelsea       West Ham     4  ...     0       0            0    -4.0
2  19/08/00  Coventry  Middlesbrough     1  ...     0       0            0     2.0
3  19/08/00     Derby    Southampton     2  ...     0       0            0     1.0
4  19/08/00     Leeds        Everton     2  ...     0       0            0   -10.0

[5 rows x 46 columns]

In [ ]:
playing_stat.tail(5)

            Date          HomeTeam  ... DiffFormPts  DiffLP
7975  23/05/2021         Liverpool  ...           7   -13.0
7976  23/05/2021          Man City  ...           2   -10.0
7977  23/05/2021  Sheffield United  ...           0    -1.0
7978  23/05/2021          West Ham  ...           0     5.0
7979  23/05/2021            Wolves  ...          -1     4.0

[5 rows x 46 columns]

In [ ]:
# Scale DiffPts , DiffFormPts, HTGD, ATGD by Matchweek.
cols = ['HTGD','ATGD','DiffPts','DiffFormPts','HTP','ATP']
playing_stat.MW = playing_stat.MW.astype(float)

for col in cols:
    playing_stat[col] = playing_stat[col] / playing_stat.MW

## Clean Historical Data

In [ ]:
playing_stat.head(15)

        Date       HomeTeam       AwayTeam  ...  DiffPts  DiffFormPts DiffLP
0   19/08/00       Charlton       Man City  ...      0.0          0.0    0.0
1   19/08/00        Chelsea       West Ham  ...      0.0          0.0   -4.0
2   19/08/00       Coventry  Middlesbrough  ...      0.0          0.0    2.0
3   19/08/00          Derby    Southampton  ...      0.0          0.0    1.0
4   19/08/00          Leeds        Everton  ...      0.0          0.0  -10.0
5   19/08/00      Leicester    Aston Villa  ...      0.0          0.0    2.0
6   19/08/00      Liverpool       Bradford  ...      0.0          0.0  -13.0
7   19/08/00     Sunderland        Arsenal  ...      0.0          0.0    5.0
8   19/08/00      Tottenham        Ipswich  ...      0.0          0.0   10.0
9   20/08/00     Man United      Newcastle  ...      0.0          0.0  -10.0
10  21/08/00        Arsenal      Liverpool  ...     -1.5         -1.5   -2.0
11  22/08/00       Bradford        Chelsea  ...     -1.5         -1.5   12.0
12  22/08/00        Ipswich     Man United  ...     -1.5         -1.5   -1.0
13  22/08/00  Middlesbrough      Tottenham  ...      0.0          0.0    2.0
14  23/08/00        Everton       Charlton  ...     -1.5         -1.5   13.0

[15 rows x 46 columns]

In [ ]:
playing_stat.shape

(7980, 46)

In [ ]:
playing_stat

            Date          HomeTeam  ... DiffFormPts  DiffLP
0       19/08/00          Charlton  ...    0.000000     0.0
1       19/08/00           Chelsea  ...    0.000000    -4.0
2       19/08/00          Coventry  ...    0.000000     2.0
3       19/08/00             Derby  ...    0.000000     1.0
4       19/08/00             Leeds  ...    0.000000   -10.0
...          ...               ...  ...         ...     ...
7975  23/05/2021         Liverpool  ...    0.184211   -13.0
7976  23/05/2021          Man City  ...    0.052632   -10.0
7977  23/05/2021  Sheffield United  ...    0.000000    -1.0
7978  23/05/2021          West Ham  ...    0.000000     5.0
7979  23/05/2021            Wolves  ...   -0.026316     4.0

[7980 rows x 46 columns]

In [ ]:
le = LabelEncoder()
playing_stat['FTR'] = le.fit_transform(playing_stat['FTR'])
playing_stat = pd.get_dummies(playing_stat, columns = ['HM1',	'AM1',	'HM2',	'AM2',	'HM3',	'AM3',	'HM4'	,'AM4',	'HM5',	'AM5'])

cols = ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS',
       'HST', 'AST', 'HC', 'AC', 'HF', 'AF', 'HY', 'AY', 'HR', 'AR', 'HTGS',
       'ATGS', 'HTGC', 'ATGC', 'HTP', 'ATP', 'HomeTeamLP', 'AwayTeamLP', 'MW',
       'HTFormPts', 'ATFormPts', 'HTGD', 'ATGD', 'DiffPts', 'DiffFormPts',
       'DiffLP', 'HM1_D', 'HM1_L', 'HM1_M',
       'HM1_W', 'AM1_D', 'AM1_L', 'AM1_M', 'AM1_W', 'HM2_D', 'HM2_L', 'HM2_M',
       'HM2_W', 'AM2_D', 'AM2_L', 'AM2_M', 'AM2_W', 'HM3_D', 'HM3_L', 'HM3_M',
       'HM3_W', 'AM3_D', 'AM3_L', 'AM3_M', 'AM3_W', 'HM4_D', 'HM4_L', 'HM4_M',
       'HM4_W', 'AM4_D', 'AM4_L', 'AM4_M', 'AM4_W', 'HM5_D', 'HM5_L', 'HM5_M',
       'HM5_W', 'AM5_D', 'AM5_L', 'AM5_M', 'AM5_W']
       
playing_stat = playing_stat[cols]

In [ ]:
playing_stat = format_date(playing_stat, 'Date')
playing_stat = change_team_name(playing_stat)
playing_stat

            Date                 HomeTeam  ... AM5_M  AM5_W
0     2000-08-19        Charlton Athletic  ...     1      0
1     2000-08-19               Chelsea FC  ...     1      0
2     2000-08-19            Coventry City  ...     1      0
3     2000-08-19             Derby County  ...     1      0
4     2000-08-19             Leeds United  ...     1      0
...          ...                      ...  ...   ...    ...
7975  2021-05-23             Liverpool FC  ...     0      0
7976  2021-05-23          Manchester City  ...     0      0
7977  2021-05-23         Sheffield United  ...     0      1
7978  2021-05-23          West Ham United  ...     0      0
7979  2021-05-23  Wolverhampton Wanderers  ...     0      0

[7980 rows x 74 columns]

In [ ]:
playing_stat['HomeTeam'].unique()

array(['Charlton Athletic', 'Chelsea FC', 'Coventry City', 'Derby County',
       'Leeds United', 'Leicester City', 'Liverpool FC', 'Sunderland AFC',
       'Tottenham Hotspur', 'Manchester United', 'Arsenal FC',
       'Bradford City', 'Ipswich', 'Middlesbrough FC', 'Everton FC',
       'Manchester City', 'Newcastle United', 'Southampton FC',
       'West Ham United', 'Aston Villa', 'Bolton Wanderers',
       'Blackburn Rovers', 'Fulham FC', 'Birmingham City',
       'West Bromwich Albion', 'Portsmouth', 'Wolverhampton Wanderers',
       'Norwich City', 'Crystal Palace', 'Wigan Athletic', 'Reading FC',
       'Sheffield United', 'Watford', 'Hull City', 'Stoke City',
       'Burnley FC', 'Blackpool', 'Queens Park Rangers', 'Swansea City',
       'Cardiff City', 'AFC Bournemouth', 'Brighton & Hove Albion',
       'Huddersfield Town'], dtype=object)

#**News Data**

## Scraping 1 - WorldFootball - OK

Data scraped from the website: https://www.worldfootball.net/

In [ ]:
def get_teams_links_worldfootball(URL: str = 'https://www.worldfootball.net', pl_teams: bool = True) -> dict:

  '''
    Gets the links for each team available on Worldfootball website

    Input:
      str: website link
      bool: pl_teams = True to get only Premier League teams and False to get all available teams 

    Return:
      dict: dict with all teams names and links available
  '''

  req = requests.get(URL)
  teams_links = {}

  # check the connection status
  if req.status_code == 200: 
    
    # creates soup object
    soup_for_teams = BeautifulSoup(req.text, 'html.parser')

    # gets the table (table, in html) complete, by the "key" that is the name of the class. 
    teams_table = soup_for_teams.find_all("div", class_="einzelwappen")

    if pl_teams is True:
      end_for = 20
    else:
      end_for = 186
    
    # to avoid repeting pl teams (if True), use: teams_table[20:]
    for team in teams_table[:end_for]:
    
      soup_for_links = BeautifulSoup(str(team), 'html.parser')

      # for each link, gets the teams links by splitting the string
      for link in soup_for_links.find_all("a"):
        
        string = str(link)
        name = string[string.find('alt="')+4:string.find(' border')]
        name = name.split('"')[1]
        link = string.split('<a href="')[1].split('">')[0].split('/teams')[1]
        teams_links[name] = link 

  # missing links  
  no_link_names = {'Birmingham City':'/birmingham-city/', 
                 'Blackburn Rovers': '/blackburn-rovers/', 
                 'Blackpool FC': '/blackpool-fc/',
                 'Bolton Wanderers':'/bolton-wanderers/', 
                 'Reading FC':'/reading-fc/'}

  teams_links.update(no_link_names)
   
  return teams_links

def get_news_worldfootball(dict_names_url: dict = {}) -> bool:

  '''
  Gets news based on the links from the function above. Creates a dataframe with
  5 columns: 'date', 'hour', 'title', 'subtitle' and 'text'.

  Input:
    dict_names_url: dict with teams names as keys and urls as values (get_teams_links returns)

  Return:
    bool: if True, the function worked correctly   
  '''

  # default URL 
  URL = "https://www.worldfootball.net" 
  standard_names = ['Arsenal FC', 'Aston Villa', 'Brentford', 'Brighton & Hove Albion', 'Burnley FC', 'Chelsea FC',
                    'Crystal Palace', 'Everton FC', 'Leeds United', 'Leicester City',
                    'Liverpool FC', 'Manchester City', 'Manchester United', 'Newcastle United',
                    'Norwich City', 'Southampton FC','Tottenham Hotspur',
                    'Watford', 'West Ham United', 'Wolverhampton Wanderers', 'Birmingham City','Blackburn Rovers',
                    'Blackpool', 'Bolton Wanderers', 'Reading FC']
  
  index = 1
  list_teams = []
  
  for _, team in enumerate(teams_links):
    list_teams.append((team, teams_links[f'{team}']))
  
  # Gets news for each team in the dictionary.
  for team_url, _ in tqdm(list_teams[11:]):

    print(f'\n\nScraping Team: {team_url}\n')
    
    index += 1

    if index <= 24:
      team_name = standard_names[index]

    else:
      team_name = team_url.title()

    team_name = team_name.replace('&amp;', "&")
    team_name = team_name.replace('&Amp;', "&")
    team_name = team_name.replace('/', ' ')
    team_name = team_name.strip()

    # Creates the dictionary where the information will be.
    dict_news = {'date': [], 'hour': [], 'title': [], 'text': []}

    # Enter the first interaction of while.
    news_available = True

    # Used to change the page number of news. 
    cont_page = 1
        
    while news_available:
      
      news_urls = []

      try:
        
        # Gets the url with the informations according to cont_page
        req = requests.get(URL + f'/news{teams_links[team_url]}{cont_page}/')

        # Check if you have enterded the URL.
        if req.status_code == 200:
        
          # Creates soup object
          soup1 = BeautifulSoup(req.text, 'html.parser')

          # Gets the URLs for each news
          for a_tag in soup1.find_all('div', class_ = "module module-newmon module-newmon-default"):
            soup2 = BeautifulSoup(str(a_tag), 'html.parser')
          
            for link in soup2.find_all('div', class_ = "module-newmon-image"):
              news_urls.append(str(link.a).split('<a href="')[1].split('"')[0])    

          if len(news_urls) == 0:
            news_available = False
            break

          for url in news_urls:
            req_news = requests.get(URL+url)

            # Check if you have entered the url
            if req_news.status_code == 200:

              # Create soup
              soup3 = BeautifulSoup(req_news.text, 'html.parser')
            
              for infos in soup3.find_all('div', class_ = "wfb-news-article"):
                news_text = ' ' 
                for text in soup3.find_all('div', class_="wfb-news-content"):
                  news_text += ' ' + text.get_text() + ' '
                
                news_date = str(soup3.find('div', class_ = "wfb-news-date").text.strip()).split(" ")[0].split('.')

                news_title = soup3.find('h1', class_ = "wfb-news-title").get_text().strip()

                # changing to standard format: YYYY-MM-DD
                news_date = news_date[2] + '-' + news_date[1] + '-' + news_date[0]

                news_hour = str(soup3.find('div', class_ = "wfb-news-date").text.strip()).split(" ")[1]
                              

              # Appends date, hour, subtitle, title and text in the dictionary
              dict_news['date'].append(news_date)
              dict_news['hour'].append(news_hour)
              dict_news['title'].append(news_title)
              dict_news['text'].append(news_text.strip())
      
      except:
        cont_page += 1

      finally:
        cont_page += 1
        pass


      # Creates dataframe before takes the next team.
      df = pd.DataFrame(dict_news, columns=['date', 'hour', 'title', 'text'])
      df['title'] = df['title'].apply(lambda x: re.sub(r"\'", " '", x))
      df['text'] = df['text'].apply(lambda x: re.sub(r"\'", " '", x))
      
      # Save as a .csv file 
      df.to_csv(f'/content/drive/MyDrive/GitHub/Dados/Noticias/Scraping1/{team_name}.csv', index = False)

      #!zip -r news_worldfootball.zip {team_url_namefile.csv}
    print(f'\n{team_name}: OK\n')
  
  return True

In [ ]:
URL = 'https://www.worldfootball.net/'
teams_links = get_teams_links_worldfootball(URL, True)
get_news_worldfootball(teams_links)

In [ ]:
# files.download('news_worldfootball.zip')

In [ ]:
# to unzip the .zip file if necessary
# !unzip news_worldfootball.zip

Scraping - Talksport - DISCARD

Data scraped from the website: https://talksport.com/football/premier-league/

In [ ]:
def get_teams_links_talksport(URL: str = 'https://talksport.com/football/premier-league/') -> dict:

  '''
    Gets the links for each team available on Talksport website

    Input:
      str: website link
      bool: pl_teams that is True for only Premier League teams and False for any team 

    Return:
      dict: dict with all teams names and links available
  '''
  
  req = requests.get(URL)
    
  # Check if you have enterded the URL.
  if req.status_code == 200:
    soup = BeautifulSoup(req.text, 'html.parser')

    # Gets the table (table, in html) complete, by the "key" that is the name of the class. 
    teams_table = soup.find_all("ul", class_ = "swiper-wrapper club-nav__container theme__before-color")
          
    hrefs = BeautifulSoup(str(teams_table[0]), 'html.parser')

    hrefs = hrefs.find_all('a')

    dict_names_url = dict()

    for href in hrefs:
      
      href = str(href)
      team_url = href.split("href=\"")[1].split("\">")[0]

      team_name = str(team_url).split("/")[-2]
      dict_names_url[team_name] = team_url

        

    return dict_names_url

In [ ]:
dict_names_url = get_teams_links_talksport()
dict_names_url

{'arsenal': 'https://talksport.com/sport/football/team/113203/arsenal/',
 'aston-villa': 'https://talksport.com/sport/football/team/113007/aston-villa/',
 'brentford': 'https://talksport.com/sport/football/team/113021/brentford/',
 'brighton-and-hove-albion': 'https://talksport.com/sport/football/team/113023/brighton-and-hove-albion/',
 'burnley': 'https://talksport.com/sport/football/team/113026/burnley/',
 'chelsea': 'https://talksport.com/sport/football/team/113034/chelsea/',
 'crystal-palace': 'https://talksport.com/sport/football/team/113043/crystal-palace/',
 'everton': 'https://talksport.com/sport/football/team/113058/everton/',
 'leeds-united': 'https://talksport.com/sport/football/team/113088/leeds-united/',
 'leicester-city': 'https://talksport.com/sport/football/team/113089/leicester-city/',
 'liverpool': 'https://talksport.com/sport/football/team/113209/liverpool/',
 'manchester-city': 'https://talksport.com/sport/football/team/113098/manchester-city/',
 'manchester-united': 'https://talksport.com/sport/football/team/113099/manchester-united/',
 'newcastle-united': 'https://talksport.com/sport/football/team/113114/newcastle-united/',
 'norwich-city': 'https://talksport.com/sport/football/team/113116/norwich-city/',
 'southampton': 'https://talksport.com/sport/football/team/113166/southampton/',
 'tottenham-hotspur': 'https://talksport.com/sport/football/team/113181/tottenham-hotspur/',
 'watford': 'https://talksport.com/sport/football/team/113193/watford/',
 'west-ham-united': 'https://talksport.com/sport/football/team/113196/west-ham-united/',
 'wolverhampton-wanderers': 'https://talksport.com/sport/football/team/113211/wolverhampton-wanderers/'}

In [ ]:
def replace_ordinal_date_talksport(dataframe: pd.DataFrame, column: str) -> pd.DataFrame:

  '''
    Replaces ordinal dates for dates formated as: YYYY-MM-DD to the talksport website dataframe
  
    Input:
      pd.DataFrame: dataframe to be replaced
      str: date column 
    Return:
      pd.DataFrame: formated dataframe
    Example:
      '2nd July 2021' -> '2021-07-02'
  '''
  
  dataframe[column] = dataframe[column].str.replace('th', '', 1).str.replace('rd', '', 1).str.replace('nd', '', 1)

  # special cases when for ex.: 31st August 2021 and 28th August 2021 
  dataframe[column] = dataframe[column].apply(lambda x: x.split(' ')[0].replace('st', '', 1) + ' ' + x.split(' ')[1] + ' ' + x.split(' ')[2])
  
  # converts to YYYY-MM-DD
  dataframe[column] = dataframe[column].apply(lambda dataframe_date: date.isoformat(datetime.strptime(dataframe_date, '%d %B %Y').date()))

  return dataframe


def get_news_talksport(dict_names_url: dict) -> bool:

  '''
    Gets news based on the links from the function above. Creates a dataframe with 4 columns: 'date', 'hour', 'title' and 'text'.

    Input:
      dict: dict with teams names as keys and urls as values (get_teams_links_talksport returns)

    Return:
      bool: if True, the function worked correctly   
  ''' 

  standard_names = ['Arsenal FC', 'Aston Villa', 'Brentford FC', 'Brighton & Hove Albion', 'Burnley FC', 'Chelsea FC', 'Crystal Palace', 
                  'Everton FC', 'Leeds United', 'Leicester City', 'Liverpool FC', 'Manchester City', 'Manchester United', 'Newcastle United', 
                  'Norwich City', 'Southampton FC', 'Tottenham Hotspur', 'Watford FC', 'West Ham United', 'Wolverhampton Wanderers']

  index = -1

  for team_name, team_url in dict_names_url.items():
    
    count_page = 1
    
    index += 1
    team_name = standard_names[index]

    dict_news = {'date': [], 'hour': [], 'title': [], 'text': []}

    # Enter the first interaction of while.
    news_available = True 

    # Used to change the page number of the news. 
    limit_page = 10000
    
    while count_page <= limit_page :
      try:

          string = team_url + "page/" + str(count_page) + "/"

          req  = requests.get(string) 
        
          if req.status_code == 200:
            
            soup = BeautifulSoup(req.text, 'html.parser')
            
            # gets the total number of pages available for that team at page 2
            if count_page == 2:

              html_last_page = str(soup.find(class_ = "pagination-next pagination-fast-next"))
              last_page_number = html_last_page.find('href="')
              limit_page = int(html_last_page[last_page_number+6:].split('">')[0].split("/")[-2])

            news_links = []
            
            # for each link, we get everything related to that news: 'date', 'hour', 'title' and 'text'

            # find all 'a' in the class 'teaser-anchor', it represents all news links
            for a in soup.find_all('a', class_="teaser-anchor", href = True):
              link_text = str(a).split('href="')[1].split('"></a>')[0]

              if 'uncategorized' not in link_text:
                news_links.append(link_text)

            for link in news_links:

              req = requests.get(link)

              soup_link = BeautifulSoup(req.text, 'html.parser')

              # get main text 
              text = ' '
              for texts_html in soup_link.find_all('div', class_="article__content"):
                text_sep = ' '
                for texts in texts_html.find_all('p'):
                  text += texts.get_text() + text_sep
              
              if len(text) == 0:
                count_page += 1
                
              #print(text)
              dict_news['text'].append(text.strip())

              # get date and hour that it was published
              for date_hour in soup_link.find_all('div', class_="article__published"):
                dict_news['date'].append(date_hour.text.split(',')[0].replace('\n', ''))
                dict_news['hour'].append(date_hour.text.split(',')[1].replace('\n', '').replace('pm', '').replace('am', ''))

              # find all 'h1' in the class 'article__headline', it represents all news titles  
              for title in soup_link.find_all('section', class_ = "article__headline-section"):

                dict_news['title'].append(title.find('h1', class_ = "article__headline").text.replace("\n", ' ').replace("\t", ' ').strip())

      except Exception as erro:

          print(team_name, link)

          if str(erro).lower() == 'list index out of range':
            break

          else:
            pass

      finally:
        
        print('Page number: ', count_page, 'is OK!')
        
        count_page += 1
        pass
      
      if list(dict_news.values()) != [[], [], [], []]:
        
        #Creates dataframe before takes the next team.
        
        df = pd.DataFrame(dict_news, columns=['date', 'hour', 'title', 'text'])   
          
        # here we clean the dataframe:      
        # fix dates to format: YYYY-MM-DD
        df = replace_ordinal_date_talksport(df, 'date')

        # Create path and save as csv.

        PATH = f'/content/drive/MyDrive/GitHub/Dados/Noticias/Scraping2/{team_name}.csv'
        df.to_csv(PATH, index = False)

        #!zip -r news_talksport.zip {team_name}.csv

  return True

In [ ]:
dict_names_url = get_teams_links_talksport()
get_news_talksport(dict_names_url)

In [ ]:
# files.download('news_talksport.zip')

## Scraping 2 - Worldsoccer - OK

Data scraped from the website: https://www.worldsoccer.com/

In [ ]:
def get_links_worldsoccer(URL: str = 'https://www.worldsoccer.com/news') -> np.array:

  '''
    Gets all the links that direct to the news pages. Website: https://www.worldsoccer.com/news

    Input:
      str: default URL = https://www.worldsoccer.com/news 
    
    Return:
      np.array: numpy array list with all the links
  '''

  req = requests.get(URL)
  soup = BeautifulSoup(req.text, 'html.parser')

  news_links = np.array([])

  # if it's all set, we're are ready to get the data
  if req.status_code == 200:

    # find all 'a' in the class 'thumb' where the links are
    for a in soup.find_all('a', class_ = 'thumb', href = True):
      news_links = np.append(news_links, str(a).split('<a class="thumb" href="')[1].split('">')[0]) 
  return news_links

In [ ]:
get_links_worldsoccer()

array(['https://www.worldsoccer.com/news/world-soccer-gossip-son-heung-min-juve-united-swap-deals-411928',
       'https://www.worldsoccer.com/news/world-soccer-gossip-salah-grealish-koulibaly-fernandinho-411908',
       'https://www.worldsoccer.com/news/manchester-uniteds-marcus-rashford-wins-tribute-award-411148',
       'https://www.worldsoccer.com/latestarticles/euro-2021-under-21-draw-410812',
       'https://www.worldsoccer.com/world-cup/2022-world-cup-preliminary-draw-410778',
       'https://www.worldsoccer.com/news/world-soccer-gossip-hudson-odoi-sancho-benrahma-410322',
       'https://www.worldsoccer.com/features/trials-and-tribulations-of-slavia-prague-409396',
       'https://www.worldsoccer.com/features/no-italian-restart-in-sight-paddy-agnew-409393',
       'https://www.worldsoccer.com/features/conmebol-handed-significant-blow-over-weekend-tim-vickery-409390',
       'https://www.worldsoccer.com/features/bonucci-family-photo-casues-controversy-409386',
       'https://www.worldsoccer.com/current-issue/world-soccer-december-2021-available-now-413280'],
      dtype='<U101')

In [ ]:
def get_news_worldsoccer() -> bool:

  '''
    Gets all the news from the worldsoccer.com website: 'date', 'title' and 'text'

    Input:
    Returns:
      bool: True if works
  '''

  dict_news = {'date': [], 'title': [], 'text': []}

  # pre defined page size of 2258 pages
  for page in tqdm(range(1, 2259)):
    
    # create index based string to search all pages
    string = 'https://www.worldsoccer.com/news/page/' + str(page)

    news_links = get_links_worldsoccer(URL = string)

    for news_link in news_links:
      
      req = requests.get(news_link)
      soup = BeautifulSoup(req.text, 'html.parser')

      # gets the news from 'main' by the id 'content'
      main_text = ' '
      for text in soup.find_all('main', id = 'content'):
        for p in text.find_all('p'):
          if str(p)[:3].lower() == '<p>': 
            main_text += p.text + ' '
      
      main_text = main_text.replace('\n', ' ').replace('\t', ' ').replace('\xa0', ' ').strip()
      dict_news['text'].append(main_text)

      # finds 'div' in class 'details' to get the h4 html tag date
      date = soup.find('div', class_="details").h4.text
      dict_news['date'].append(date)

      # finds 'div' in class 'details' to get the h1 html tag title
      title = soup.find('div', class_="details").h1.text
      dict_news['title'].append(title)
    
      # Creates dataframe before takes the next team.
      df = pd.DataFrame(dict_news, columns=['date', 'title', 'text'])  
  
      df = replace_ordinal_date_worldsoccer(df, 'date')      
  
      # Creates path and save as csv.
      PATH = f'/content/drive/MyDrive/GitHub/Dados/Noticias/Scraping3/worldsoccer_news.csv'
      df.to_csv(PATH, index = False)

  return True

In [ ]:
get_news_worldsoccer()

In [ ]:
#files.download('worldsoccer_news.csv')

##Scraping 3 - Theweek - OK

Data scraped from the website: https://www.theweek.co.uk/premier-league

In [ ]:
def get_links_theweek(URL: str = 'https://www.theweek.co.uk/premier-league') -> np.array:
  
  '''
    Gets the links for all the news available on 'theweek' website

    Input:
      str: URL = 'https://www.theweek.co.uk/premier-league'

    Return:
      np.array: list with all links
  '''

  
  page_number = 1
  dict_news = {'date': [], 'text':[]}
  
  while page_number >= 1:
  
    # gets all links available on that page 
    req = requests.get('https://www.theweek.co.uk/premier-league' + f'?page={page_number}')
  
    # creates an empty list to append all links to it
    links_list = np.array([])

    if req.status_code == 200:

      soup = BeautifulSoup(req.text, 'html.parser')

      # finds where the articles are
      for article_box in soup.find_all('div', class_ = "polaris__article-group polaris__article-group__row-4 -default -news-index"):
        soup_links = BeautifulSoup(str(article_box), 'html.parser')

      # finds all links and modifies the string tp only get the URLs
        for links in soup_links.find_all(class_ = "polaris__link polaris__article-card--link"):
          link_string_html = str(links)[str(links).find('href') + 6:] 
          link_string = link_string_html.split('">')[0]
          links_list = np.append(links_list, link_string)
    
      if len(links_list) == 0:
        break

      for link in links_list:
        req = requests.get('https://www.theweek.co.uk' + link)

        if req.status_code == 200:
        
          soup_news = BeautifulSoup(req.text, 'html.parser')

          full_text = ''
          for texts in soup_news.find_all('div', class_ = "polaris__simple-grid--main")[1:-1]:
            for text in texts.find_all('p'):
              full_text += ' ' + text.text + ' '

          location = full_text.find('–––––––––––––––––––––––––––––––')
          full_text = full_text[:location].strip()
          full_text = re.sub(r'\xa0', ' ', full_text)
          dict_news['text'].append(full_text.strip())
        
          for date_ in soup.find('span', class_="polaris__date"):
            dict_news['date'].append(date_.strip())
      
    page_number += 1

    if page_number % 10 == 0:
      print(page_number)

  df = pd.DataFrame(dict_news, columns=['date', 'text'])
  df['date'] = df['date'].apply(lambda x: date.isoformat(datetime.strptime(x, '%d %b %Y')))
  df.to_csv('/content/drive/MyDrive/GitHub/Dados/Noticias/Scraping4/news_theweek.csv', index = False)
  
  return df

In [ ]:
df = get_links_theweek()

In [ ]:
df.drop_duplicates(inplace = True, ignore_index=True)
df.dropna(inplace = True)
df.reset_index(inplace = True, drop = True)

In [ ]:
df

            date                                               text
0     2021-10-25  On the full-time whistle at Old Trafford a she...
1     2021-10-25  When the £305m takeover of Newcastle United wa...
2     2021-10-25  Since signing for Liverpool in June 2017 Moham...
3     2021-10-25  Sheffield Hallam University experts Dan Plumle...
4     2021-10-25  It won’t please English football fans, said Su...
...          ...                                                ...
2459  2014-01-03  EDITOR'S NOTE 12.30PM: The draw the Europa Lea...
2460  2014-01-03  AMID the jockeying for influence ahead of Geor...
2461  2014-01-03  JOSE MOURINHO has promised not to cry should h...
2462  2014-01-03  RAFA BENITEZ claims he has an "excellent" rela...
2463  2014-01-03  THERE was no shortage of talking points this w...

[2464 rows x 2 columns]

## Scraping 4 - TheGuardian - OK

Data srcraped from [TheGuardian match previews](https://www.theguardian.com/football/series/match-previews) from previws going from 9th Aug 2018 up to 1st Dec 2021. The past data is obtained from [Ryan's J Beal Gihtub](https://github.com/RyanBeal7/GuardianPreviewData/blob/master/GuardianReportsAll.csv). It is then all concatenated in one dataframe.

In [ ]:
def get_links_theguardian(begin: int, end: int, URL: str = 'https://www.theguardian.com/football/series/match-previews') -> np.array:
  
  '''
    Gets the links for every Premier League match preview from 2014 up to 2021

    Input:
      str: URL = 'https://www.theguardian.com/football/series/match-previews'
      int: begin = pre defined number
      int: end = pre defined number

    Return:
      np.array: list with all links
  '''

  pages_links = np.array([])
  
  # get the pages from 2010 up to 2021
  for page_number in range(end, begin-1, -1):
    
    pages_url = URL + f'?page={page_number}'
    req = requests.get(pages_url)

    if req.status_code == 200:
      soup = BeautifulSoup(req.text, 'html.parser')

      for links in soup.find_all('a', class_ = "fc-item__link"):
        pages_links = np.append(pages_links, str(links).split('<a class="fc-item__link" data-link-name="article" href="')[1].split('">')[0])
        
  return pages_links

In [ ]:
# gets data from 2010 up to 2021
pages_links_theguardian_2010_2021 = get_links_theguardian(URL='https://www.theguardian.com/football/series/match-previews', begin = 0, end = 201)

In [ ]:
def get_match_previews_theguardian(pages_links: np.array) -> bool:

  '''
    Gets the matches previews and 6 columns: 'date', 'home', 'away', 'text'

    Input:
      np.array: return from the function pages_links_theguardian() (list with all pages links)

    Return:
      bool: True if works
  '''

  
  dict_previews = {'date': [], 'home': [], 'away': [], 'text': []}

  for number, page_link in enumerate(pages_links):
    
    req = requests.get(page_link)
    soup = BeautifulSoup(req.text, 'html.parser')
    
    # not to get 'fa-cup' related news
    if 'fa-cup' in page_link:
      continue
    
    if 'team-news' not in page_link:
      date_ = page_link.split('https://www.theguardian.com/football/')[1].split('/')
      date_ = date_[2] + ' ' + date_[1].capitalize() + ' ' + date_[0]
      dict_previews['date'].append(date_)

        
      # get text match preview
      first_letter = soup.find(class_="dcr-1ohfkpt")

      # consistency to when the main text changes and there are 2 different tags associated with it
      if first_letter is None:
        complete_text = ' '
        for preview in soup.find('p', class_ = "dcr-bixwrd"):
          if '<strong>' not in str(preview):
            text = str(preview)
            text = BeautifulSoup(text).get_text()
            complete_text += text
        
      else:

        complete_text = f'{first_letter.get_text()}'
        for preview in soup.find('span', class_ = "dcr-bixwrd"):
          if '<strong>' not in str(preview):
            text = str(preview)
            text = BeautifulSoup(text).get_text()
            complete_text += text

      dict_previews['text'].append(complete_text)

      try:
        # get teams: home and away "dcr-1olvc81"
        for teams in soup.find_all('h1', class_="dcr-125vfar"):
    
          teams_text = str(teams)
          teams_text = BeautifulSoup(teams_text).get_text()
          teams = teams_text.strip().split(': match preview')[0].split(' v ')
          dict_previews['home'].append(teams[0].strip())
          dict_previews['away'].append(teams[1].strip())
      except:
        pass
      else:
        for teams in soup.find_all('h1', class_= "dcr-1olvc81"):
          teams_text = str(teams)
          teams_text = BeautifulSoup(teams_text).get_text()
          teams = teams_text.strip().split(': match preview')[0].split(' v ')
          dict_previews['home'].append(teams[0].strip())
          dict_previews['away'].append(teams[1].strip())

    # save a .csv file
    df = pd.DataFrame(dict_previews, columns = list(dict_previews.keys()))

    # removes some words on home and away teams
    df['away'] = df['away'].apply(lambda x: x.split(':')[0])
    df['home'] = df['home'].apply(lambda x: x.split(':')[1] if len(x.split(':'))>= 2 else x)

    # formats date to YYYY-MM-DD
    df['date'] = df['date'].apply(lambda dataframe_date: date.isoformat(datetime.strptime(dataframe_date, '%d %b %Y').date()))
    df.to_csv('previews_theguardian_2010_2021.csv', index = False)
  
  df = df.sort_values(by = ['date'], ascending=True)
  return df

In [ ]:
news_theguardian = get_match_previews_theguardian(pages_links_theguardian_2010_2021)

True

In [ ]:
news_theguardian.to_csv(f'/content/drive/MyDrive/GitHub/Dados/Noticias/Scraping4/news_theguardian.csv', index = False)

##Scraping 5 - Thesun

Scraping news from the website: https://www.thesun.co.uk/sport/football/

In [ ]:
def get_teams_links_thesun(URL: str = 'https://www.thesun.co.uk/sport/football/premierleague/') -> dict:

  '''
    Gets the links for each team available on 'thesun.co.uk' website

    Input:
      str: website link
      bool: pl_teams that is True for only Premier League teams and False for any team 

    Return:
      dict: dict with all teams names and links available
  '''

  req = requests.get(URL)
  soup = BeautifulSoup(req.text, 'html.parser')

  teams_links = np.array([])

  for link in soup.find_all('a', class_ = "theme__before-color"):
    teams_links = np.append(teams_links, str(link).split('<a class="theme__before-color" href="')[1].split('"></a>')[0])
  
  teams_links = teams_links[:20]

  return teams_links

In [ ]:
team_links = get_teams_links_thesun()
gabriel_links = team_links[:7]
pet_links = team_links[7:14]
kaue_links = team_links[14:]

In [ ]:
def get_news_thesun(name):

  '''
    Gets all the news from the thesun.co.uk website: 'date', 'hour', title' and 'text'

    Input:
    Returns:
      bool: True if works
  '''

  standard_names = ['Arsenal FC', 'Aston Villa', 'Brentford FC', 'Brighton & Hove Albion', 'Burnley FC', 'Chelsea FC', 'Crystal Palace', 
                    'Everton FC', 'Leeds United', 'Leicester City', 'Liverpool FC', 'Manchester City', 'Manchester United', 'Newcastle United', 
                    'Norwich City', 'Southampton FC', 'Tottenham Hotspur', 'Watford FC', 'West Ham United', 'Wolverhampton Wanderers']

  teams_links = get_teams_links_thesun()
  
  if name == 'gabriel':
    teams_links = teams_links[:7]
    standard_names = ['Arsenal FC', 'Aston Villa', 'Brentford FC', 'Brighton & Hove Albion', 'Burnley FC', 'Chelsea FC', 'Crystal Palace']
  
  elif name == 'pet':
    teams_links = teams_links[7:14]
    standard_names = ['Everton FC', 'Leeds United', 'Leicester City', 'Liverpool FC', 'Manchester City', 'Manchester United', 'Newcastle United']

  else:
    teams_links = teams_links[14:]
    standard_names = ['Norwich City', 'Southampton FC', 'Tottenham Hotspur', 'Watford FC', 'West Ham United', 'Wolverhampton Wanderers']

  index = -1
  for team_url in teams_links:
    

    # index to change teams names
    index += 1

    print('\nTeam Name: ', standard_names[index])

    dict_news = {'date': [], 'hour': [], 'title': [], 'text': []}

    # Enter the first iteration of while.
    news_available = True 
    
    # Used to change the page number of the news. 
    count_page = 1
    
    while news_available:
      try:

          string = team_url + "page/" + str(count_page) + "/"
          req  = requests.get(string) 

          #print(string)

          if req.status_code == 200:
            
            soup = BeautifulSoup(req.text, 'html.parser')
            
            news_links = []
            
            # for each link, we get everything related to that news: 'date', 'title' and 'text'

            # find all 'a' in the class 'teaser-anchor', it represents all news links
            for a in soup.find_all('a', class_="teaser-anchor", href = True):
              link_text = str(a).split('href="')[1].split('"></a>')[0]
              
              if 'uncategorized' not in link_text:
                news_links.append(link_text)

            #print(news_links)

            for link in news_links:
              
              #print(link)

              req = requests.get(link)
              soup_link = BeautifulSoup(req.text, 'html.parser')
              
              # only get news, not live blogs
              if soup_link.find(class_ = "text-slug t-p-background-color text-slug__live-blog") is None:
                
                # get main text 
                full_text = ' '
                for text in soup_link.find_all('div', class_="article__content"):
                  soup2 = BeautifulSoup(str(text), 'html.parser')
                  for p in soup2.find_all('p'):
                    if '<p class="has-text-align-center">' not in str(p) and '<strong>' not in str(p) and '<p>[video' not in str(p) and '<p dir="ltr"' not in str(p) and '<a href="https://twitter.com/goonerdave66"' not in str(p):
                      text = p.get_text()
                      text = ' '.join(re.sub("(@[A-Za-z0-9]+)|(#)|(\w+:\/\/\S+)", " ", text).split())
                      text = re.sub(r'pic.twitter.com/[\w]*',"", text)
                      full_text += ' ' + text + ' '
  
                full_text = full_text.strip()

                
                if len(full_text) == 0:
                  continue

                dict_news['text'].append(full_text)

                date_ = soup_link.find('span', class_ = "article__timestamp").text.replace(',', '')
                #print(date_)

                # specific html tag when it gets the time instead of date
                if ":" in date_:
                  news_date = soup_link.find('div', class_ = "article__published").get_text().replace(",", " ").strip()
                  news_hour = soup_link.find('span', class_ = "article__timestamp").get_text().strip() 
                  news_title = soup_link.find('section', class_ = "article__headline-section").h1.text.replace("\n", ' ').replace("\t", ' ').strip()
                  
                  if news_date and news_hour and news_title is not None:
                    dict_news['date'].append(news_date)
                    dict_news['hour'].append(news_hour)
                    dict_news['title'].append(news_title)
                  
                  else:
                    dict_news['date'].append('')
                    dict_news['hour'].append('')
                    dict_news['title'].append('')
                    continue

                news_title = soup_link.find('section', class_ = "article__headline-section").h1.text.replace("\n", ' ').replace("\t", ' ').strip()
                news_hour = soup_link.find('span', class_ = "article__datestamp").text.replace(',', '').strip()
                news_date = soup_link.find('span', class_ = "article__timestamp").text.replace(',', '').strip()

                if news_date and news_hour and news_title is not None:
                    dict_news['date'].append(news_date)
                    dict_news['hour'].append(news_hour)
                    dict_news['title'].append(news_title)
                  
                else:
                    dict_news['date'].append('')
                    dict_news['hour'].append('')
                    dict_news['title'].append('')
                    continue
              else:
                continue

      except Exception as erro:

          if str(erro).lower() == 'list index out of range':
            break

          else:
            pass

      finally:
        
        #print(len(dict_news['date']), len(dict_news['hour']), len(dict_news['title']), len(dict_news['text']))
        
        if news_links == []:
          break

        if count_page % 5 == 0:
          print('Page number:', count_page, 'is OK!')        
        
        #Creates dataframe before takes the next team.
        df = pd.DataFrame(dict_news, columns=['date', 'hour', 'title', 'text'])  
        df['date'] = df['date'].apply(lambda x: x.split(' ')[0].replace('nd', '').replace('rd', '').replace('th', '').replace('st', '') + ' ' +
                                      x.split(' ')[1] + ' ' + x.split(' ')[2])

        df['date'] = df['date'].apply(lambda x: date.isoformat(dateutil.parser.parse(x).date())) 

        df.drop_duplicates(inplace = True)
    
        # Create path and save as csv.
        PATH = f'/content/drive/MyDrive/GitHub/Dados/Noticias/Scraping5/{standard_names[index]}.csv'
        df.to_csv(PATH, index = False)

        count_page += 1
        pass
      
  return True

In [ ]:
# GABRIEL
get_news_thesun('gabriel')

In [ ]:
# PET
get_news_thesun('pet')

Team Name:  Everton FC
Page number: 5 is OK!
Page number: 10 is OK!
Page number: 15 is OK!
Page number: 20 is OK!
Page number: 25 is OK!
Page number: 30 is OK!
Page number: 35 is OK!
Page number: 40 is OK!
Page number: 45 is OK!
Page number: 50 is OK!
Page number: 55 is OK!
Page number: 60 is OK!
Page number: 65 is OK!
Page number: 70 is OK!
Page number: 75 is OK!
Page number: 80 is OK!
Page number: 85 is OK!
Page number: 90 is OK!
Page number: 95 is OK!
Page number: 100 is OK!
Page number: 105 is OK!
Page number: 110 is OK!
Page number: 115 is OK!
Page number: 120 is OK!
Page number: 125 is OK!
Page number: 130 is OK!
Page number: 135 is OK!
Page number: 140 is OK!
Page number: 145 is OK!
Page number: 150 is OK!
Page number: 155 is OK!
Page number: 160 is OK!
Page number: 165 is OK!
Page number: 170 is OK!
Page number: 175 is OK!
Page number: 180 is OK!
Page number: 185 is OK!
Page number: 190 is OK!
Page number: 195 is OK!
Page number: 200 is OK!
Page number: 205 is OK!
Page number: 210 is OK!
Page number: 215 is OK!
Page number: 220 is OK!

In [ ]:
# Kaue
get_news_thesun('kaue')

#**Bookmakers Data**

In [ ]:
#cols_str = 'Date\tHomeTeam\tAwayTeam\tB365H\tB365D	B365A	BWH	BWD	BWA	IWH	IWD	IWA	WHH	WHD	WHA	VCH	VCD	VCA'

cols_str = 'Date\tHomeTeam\tAwayTeam\tB365H\tB365D	B365A	BWH	BWD	BWA	IWH	IWD	IWA	VCH	VCD	VCA'
cols_str.replace("\t", ' ')
cols = cols_str.split('\t')
path = "/content/drive/MyDrive/GitHub/Dados/Historicos/raw_historical_features/"

playing_statistics_8 = pd.read_csv(path + 'E0 (7).csv', usecols = cols, nrows = 381)
playing_statistics_9 = pd.read_csv(path + 'E0 (8).csv', usecols = cols, nrows = 381)
playing_statistics_10 = pd.read_csv(path + 'E0 (9).csv', usecols = cols, nrows = 381)
playing_statistics_11 = pd.read_csv(path + 'E0 (10).csv', usecols = cols, nrows = 381)
playing_statistics_12 = pd.read_csv(path + 'E0 (11).csv', usecols = cols, nrows = 381)
playing_statistics_13 = pd.read_csv(path + 'E0 (12).csv', usecols = cols, nrows = 381)
playing_statistics_14 = pd.read_csv(path + 'E0 (13).csv', usecols = cols, nrows = 381)
playing_statistics_15 = pd.read_csv(path + 'E0 (14).csv', usecols = cols, nrows = 381)
playing_statistics_16 = pd.read_csv(path + 'E0 (15).csv', usecols = cols, nrows = 381)
playing_statistics_17 = pd.read_csv(path + 'E0 (16).csv', usecols = cols, nrows = 381)
playing_statistics_18 = pd.read_csv(path + 'E0 (17).csv', usecols = cols, nrows = 381)
playing_statistics_19 = pd.read_csv(path + 'E0 (18).csv', usecols = cols, nrows = 381)
playing_statistics_20 = pd.read_csv(path + 'E0 (19).csv', usecols = cols, nrows = 381)
playing_statistics_21 = pd.read_csv(path + 'E0 (20).csv', usecols = cols, nrows = 381)

bookmakers = pd.concat([playing_statistics_8,
                          playing_statistics_9,
                          playing_statistics_10,
                          playing_statistics_11,
                          playing_statistics_12,
                          playing_statistics_13,
                          playing_statistics_14,
                          playing_statistics_15,
                          playing_statistics_16,
                          playing_statistics_17,
                          playing_statistics_18,
                          playing_statistics_19,
                          playing_statistics_20,
                          playing_statistics_21], ignore_index=True)

In [ ]:
bookmakers

            Date          HomeTeam        AwayTeam  ...   VCH   VCD    VCA
0       11/08/07       Aston Villa       Liverpool  ...  3.50  3.20   2.00
1       11/08/07            Bolton       Newcastle  ...  2.30  3.25   2.90
2       11/08/07             Derby      Portsmouth  ...  2.70  3.25   2.40
3       11/08/07           Everton           Wigan  ...  1.70  3.40   5.00
4       11/08/07     Middlesbrough       Blackburn  ...  2.50  3.25   2.65
...          ...               ...             ...  ...   ...   ...    ...
5315  23/05/2021         Liverpool  Crystal Palace  ...  1.17  7.50  17.00
5316  23/05/2021          Man City         Everton  ...  1.45  4.60   7.00
5317  23/05/2021  Sheffield United         Burnley  ...  2.88  3.50   2.40
5318  23/05/2021          West Ham     Southampton  ...  1.67  4.10   4.80
5319  23/05/2021            Wolves      Man United  ...  2.50  3.50   2.75

[5320 rows x 15 columns]

In [ ]:
bookmakers = bookmakers.fillna(0)

In [ ]:
bookmakers.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'VCH', 'VCD', 'VCA'],
      dtype='object')

In [ ]:
bookmakers = format_date(bookmakers, 'Date')
bookmakers = change_team_name(bookmakers)
bookmakers

            Date                 HomeTeam           AwayTeam  ...   VCH   VCD    VCA
0     2007-08-11              Aston Villa       Liverpool FC  ...  3.50  3.20   2.00
1     2007-08-11         Bolton Wanderers   Newcastle United  ...  2.30  3.25   2.90
2     2007-08-11             Derby County         Portsmouth  ...  2.70  3.25   2.40
3     2007-08-11               Everton FC     Wigan Athletic  ...  1.70  3.40   5.00
4     2007-08-11         Middlesbrough FC   Blackburn Rovers  ...  2.50  3.25   2.65
...          ...                      ...                ...  ...   ...   ...    ...
5315  2021-05-23             Liverpool FC     Crystal Palace  ...  1.17  7.50  17.00
5316  2021-05-23          Manchester City         Everton FC  ...  1.45  4.60   7.00
5317  2021-05-23         Sheffield United         Burnley FC  ...  2.88  3.50   2.40
5318  2021-05-23          West Ham United     Southampton FC  ...  1.67  4.10   4.80
5319  2021-05-23  Wolverhampton Wanderers  Manchester United  ...  2.50  3.50   2.75

[5320 rows x 15 columns]

In [ ]:
#bookmakers.to_csv('bookmakers.csv', index = False)